<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 3</title>
    <script type="text/javascript" src="js/form.js"></script>
    <link rel="stylesheet" type="text/css" href="css/form.css">
</head>
<body>
    <header>
    <h1>Chocolate Shop</h1>
        <nav class="menu">
            <ul>
                <li>
                    <a href="/">Home Store</a>
                </li>
                <li>
                    <a href="/orders">Past Orders</a>
                </li>
            </ul>
        </nav>
    </header>
